{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	background-color: rgb(6, 6, 38);
	text-align: center;
}

h1 {
	margin-bottom: 1rem;
    color: white;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.squares {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.sq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background-color: rgb(55, 55, 176);
}

.sq-fizz{
    display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background-color: rgb(32, 148, 107);
}
.sq-fbuzz{
    display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background-color: rgb(197, 14, 109);
}
.sq-buzz{
    display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background-color: gold;
}